h1{
	text-align: center;
}
h2{
       text-align: center;
       color: #666;
}
table{
       border-left: 1px solid #ccc;
       border-top: 1px solid #ccc;
}
td{
       border-right: 1px solid #ccc;
       border-bottom: 1px solid #ccc;
       width: 15px;
       height: 15px;
}
td[type="food"]{
	animation: food 2s infinite linear;
}
@keyframes food{
       0%{background:#FF6633;}
       50%{background:#FFB6C1;}
       100%{background:#FF6633;}
}